.stopWatchWrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: inherit;
    font-size : 4rem;
    background-color: inherit;
}

.stopWatchWrapper:fullscreen{
    font-size : 6rem;
}


.stopWatchDisplay{
    flex : 1;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.displayPanel{
    display : flex;
    align-items: center;
    justify-content: center;
}

#displayTime{
    font-family: 'batang';    vertical-align: middle;
    display : flex;
    height : 100%;
}


/* nav */

.stopWatchNav{
    display: flex;
    margin : 1rem 0 0 0;
    width: 100%;
    justify-content: right;
}

.navIcon{
    display : flex;
    justify-content: center;
    align-items: center;
    width : 2rem;
    height : 2rem;
    padding : 0;
    margin : 0 0.5rem 0 0.5rem;
    border-radius: 1rem;
    border : 0.1px solid lightgrey;
}

.navIcon:active{
    background-color: black;
    color : white;
}


/* stopwatch Progress Buttons */


.buttonContainer{
    display : flex;
}

.progressButtons{
    display : flex;
    margin : 1rem 0 0 0;
    align-items: center;
}

.emptyDiv{
    margin : 1rem 0 0 0;
    height : 2rem;
}


.progressButtons button{
    display: flex;
    width: 6rem;
    height: 2rem;
    background-color: white;
    border-radius: 1rem;
    border : 1px solid black;
    margin : 0 0.2rem 0 0.2rem;
    font-size : 1rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.progressButtons button:active{
    outline : none;
    border : 1px solid grey;
}