.stopWatchWrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: inherit;
    background-color: inherit;
}

.stopWatchDisplay{
    flex : 1;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.displayPanel{
    display : flex;
    align-items: center;
    justify-content: center;
}

#displayTime{
    font-family: 'batang';
    vertical-align: middle;
    display : flex;
    height : 100%;
}

/* stopwatch Progress Buttons */


.buttonContainer{
    display : flex;
}

.progressButtons{
    display : flex;
    margin : 1rem 0 0 0;
    align-items: center;
}

.emptyDiv{
    margin : 1rem 0 0 0;
    height : 2rem;
}


.progressButtons button{
    display: flex;
    width: 6rem;
    height: 2rem;
    background-color: white;
    border-radius: 1rem;
    border : 1px solid black;
    margin : 0 0.2rem 0 0.2rem;
    font-size : 1rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.progressButtons button:active{
    outline : none;
    border : 1px solid grey;
}



/* recordList */

.recordList{
    width : 21rem;
    height : 11rem;
    padding : 0rem 1rem 0 1rem;
    margin : 1rem 0 0 0;
    font-size : 1rem;
    text-align: center;    
    border-radius: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-y: auto;
    transition : 0.5s linear;
}

.recordList::-webkit-scrollbar{
    margin : 1rem 1rem 1rem 1rem;
    width: 10px;
}

.recordList::-webkit-scrollbar-thumb{
    border-radius: 5px;
    margin-left : 2rem;
    border : 1px solid lightgrey;
    background-color: gray;
}

.recordList::-webkit-scrollbar-track{
    margin-left : 2rem;
    border-radius: 5px;
    background-color: lightgrey;
}

.recordList-hide{
    opacity: 0;
    display: none;
}

.recordList table{
    table-layout: fixed;
    width : 20rem;
    justify-content: space-around;
    text-align: left;
    border-collapse : collapse;
    
}

.recordList > table > thead > th{
    position : sticky;
    top : 0px;
    font-weight: lighter;
    text-align: center;
    border-bottom: 1px solid lightgrey;
    height : 2rem;
    width : 1.5rem;
}

.recordList > table > thead > th:first-child{
    width : 1rem;
}

.recordList > table > thead > th:last-child{
    width : 1rem;
}

.recordList > table > tbody > tr{
    font-size: 1rem;
    height : 3rem;
    text-align: center;
    font-weight: lighter;
    vertical-align: center;
    text-align: center;
    align-items: center;
    border-bottom: 1px solid lightgrey;
}

#deleteRecordBtn{
    height : 18px;
    width : 18px;
    padding : 0 0 0 0;
    margin : 0 0 0 0;
    border : 1px solid white;
    border-radius: 9px;
    user-select : none;
    
}


#deleteRecordBtn:active{
    background-color: rgb(230,230,230);
}