.stopWatchWrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: inherit;
    font-size : 4rem;
    background-color: inherit;
}

.stopWatchWrapper:fullscreen{
    font-size : 6rem;
}

.stopWatchDisplay{
    flex : 1;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* nav */

.stopWatchNav{
    display: flex;
    margin : 1rem 0 0 0;
    width: 100%;
    justify-content: right;
}

.navIcon{
    display : flex;
    justify-content: center;
    align-items: center;
    width : 2rem;
    height : 2rem;
    padding : 0;
    margin : 0 0.5rem 0 0.5rem;
    border-radius: 1rem;
    border : 0.1px solid lightgrey;
    background-color: white;   
}

.navIcon:active{
    background-color: black;
    color : white;
}


/* stopwatch */

.progressButtons{
    display : flex;
    margin : 1rem 0 0 0;
}


.progressButtons button{
    display : flex;
    width : 6rem;
    border-radius: 0.3rem;
    border : 1px solid black;
    margin : 0 0.2rem 0 0.2rem;
    background-color : white;
    font-size : 1rem;
    align-items: center;
    justify-content: center;
}


.progressButtons button:active{
    outline : none;
    background-color: white;
    border : none;
}