.main{
  width : 100%;
  height : 100%;
  font-size : 4rem;
  overflow : hidden;
}

.main:fullscreen{
  font-size : 6rem;
}


.dark{
  background-color: black;
  color : white;
}

.light{
  background-color: white;
  color : black;
}

