.navBar{
    display: flex;
    margin : 1rem 0 0 0;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: right;
}

.navIcon{
    display : flex;
    justify-content: center;
    align-items: center;
    width : 2rem;
    height : 2rem;
    padding : 0;
    margin : 0 0.5rem 0 0.5rem;
    border-radius: 1rem;
    border : 0.1px solid lightgrey;
}

.navIcon:active{
    background-color: black;
    color : white;
}